.wrapper{
  display:flex;
}
.smallDiv{
  width:250px;
  height:750px;

}
.smallContainer{
  margin:10px auto auto auto;
  width:150px;
}
.largeDiv{
  width:600px;
  height:500px;
  border-style:solid;
  margin:0px 50px 20px 20px;
  padding:20px 20px 20px 20px;
  border-radius: 10%;

}

.inpClass{
  border-style:solid;
  border-color:blue;
  border-radius: 10%;
}


